*{
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;  /*hori vertical*/
    font-size: 15px;
    padding: 8px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(29, 21, 21);
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0.5%;
}

fieldset {
    background-color: #fff;
    border: 1px solid #ccc;
}

.mainhead {
    text-align: center;
}

input[type="submit"] {
    background-color: goldenrod;
    border: none;
    padding: 12px 20px;
    border-radius:  4px;
    width: 100%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: olive;
}
